<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Individual Hotpsring show page</h1>
	<h2><%=@hotspring.name%></h2>
	<h2><%=@hotspring.city%></h2>
	<h2><%=@hotspring.state%></h2>
	<h2><%=@hotspring.directions%></h2>
	<h2><%=@hotspring.description%></h2>

</body>
</html>